<!DOCTYPE html>
<html lang="en">
<head>

	<title>Deu Ruim</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	
</head>
<body>
	
	<div class="container col-md-6">
		<div class="mt-5 text-center">
			<h1>Faça o Login para acessar</h1>
			<a href="/" class="btn btn-primary text center mt-5">Click aqui para fazer o Login</a>
		</div>
	</div>

</body>
</html>